.applicant-container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
   
  .applicant-text10 {
    display: inline-block;
  }
   
  .applicant-text11 {
    display: inline-block;
  }
   
  .applicant-text12 {
    display: inline-block;
  }
   
  .applicant-text13 {
    display: inline-block;
  }
   
  .applicant-text14 {
    display: inline-block;
  }
   
  .applicant-text15 {
    display: inline-block;
  }
   
  .applicant-text16 {
    display: inline-block;
  }
   
  .applicant-text17 {
    display: inline-block;
  }
   
  .applicant-text18 {
    display: inline-block;
  }
   
  .applicant-text19 {
    display: inline-block;
  }
   
  .applicant-text20 {
    display: inline-block;
  }
   
  .applicant-text21 {
    display: inline-block;
  }
   
  .applicant-text22 {
    display: inline-block;
  }
   
  .applicant-text23 {
    display: inline-block;
  }
   
  .applicant-text24 {
    display: inline-block;
  }
   
  .applicant-text25 {
    display: inline-block;
  }
   
  .applicant-text26 {
    display: inline-block;
  }
   
  .applicant-text27 {
    display: inline-block;
  }
   
  .applicant-text28 {
    display: inline-block;
  }
   
  .applicant-text29 {
    display: inline-block;
  }
   
  .applicant-text30 {
    display: inline-block;
  }
   
  .applicant-text31 {
    display: inline-block;
  }
   
  .applicant-text32 {
    display: inline-block;
  }
   
  .applicant-text33 {
    display: inline-block;
  }
   
  .applicant-text34 {
    display: inline-block;
  }
   
  .applicant-text35 {
    display: inline-block;
  }
   
  .applicant-text36 {
    display: inline-block;
  }
   
  .applicant-text37 {
    display: inline-block;
  }
   
  .applicant-text38 {
    display: inline-block;
  }
   
  .applicant-text39 {
    display: inline-block;
  }
   
  .applicant-text40 {
    display: inline-block;
  }
   
  .applicant-text41 {
    display: inline-block;
  }
   
  .applicant-text42 {
    display: inline-block;
  }
  