.blogs-in-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.blogs-in-text10 {
  display: inline-block;
}
 
.blogs-in-text11 {
  display: inline-block;
}
 
.blogs-in-text12 {
  display: inline-block;
}
 
.blogs-in-text13 {
  display: inline-block;
}
 
.blogs-in-text14 {
  display: inline-block;
}
 
.blogs-in-text15 {
  display: inline-block;
}
 
.blogs-in-text16 {
  display: inline-block;
}
 
.blogs-in-text17 {
  display: inline-block;
}
 
.blogs-in-text18 {
  display: inline-block;
}
 
.blogs-in-text19 {
  display: inline-block;
}
 
.blogs-in-text20 {
  display: inline-block;
}
 
.blogs-in-text21 {
  display: inline-block;
}
 
.blogs-in-text22 {
  display: inline-block;
}
 
.blogs-in-text23 {
  display: inline-block;
}
 
.blogs-in-text24 {
  display: inline-block;
}
 
.blogs-in-text25 {
  display: inline-block;
}
 
.blogs-in-text26 {
  display: inline-block;
}
 
.blogs-in-text27 {
  display: inline-block;
}
 
.blogs-in-text28 {
  display: inline-block;
}
 
.blogs-in-text29 {
  display: inline-block;
}
 
.blogs-in-text30 {
  display: inline-block;
}
 
.blogs-in-text31 {
  display: inline-block;
}
 
.blogs-in-text32 {
  display: inline-block;
}
 
.blogs-in-text33 {
  display: inline-block;
}
 
.blogs-in-text34 {
  display: inline-block;
}
 
.blogs-in-text35 {
  display: inline-block;
}
 
.blogs-in-text36 {
  display: inline-block;
}
 
.blogs-in-text37 {
  display: inline-block;
}
 
.blogs-in-text38 {
  display: inline-block;
}
 
.blogs-in-text39 {
  display: inline-block;
}
 
.blogs-in-text40 {
  display: inline-block;
}
 
.blogs-in-text41 {
  display: inline-block;
}
 
.blogs-in-text46 {
  display: inline-block;
}
 
.blogs-in-text47 {
  display: inline-block;
}
 
.blogs-in-text48 {
  display: inline-block;
}
 
.blogs-in-text49 {
  display: inline-block;
}
 
.blogs-in-text50 {
  display: inline-block;
}
 
.blogs-in-text51 {
  display: inline-block;
}
 
.blogs-in-text52 {
  display: inline-block;
}
 
.blogs-in-text53 {
  display: inline-block;
}
 
.blogs-in-text54 {
  display: inline-block;
}
 
.blogs-in-text55 {
  display: inline-block;
}
 
.blogs-in-text56 {
  display: inline-block;
}
 
.blogs-in-text57 {
  display: inline-block;
}
 
.blogs-in-text58 {
  display: inline-block;
}
 
.blogs-in-text59 {
  display: inline-block;
}
 
.blogs-in-text60 {
  display: inline-block;
}
 
.blogs-in-text61 {
  display: inline-block;
}
 
.blogs-in-text62 {
  display: inline-block;
}
 
.blogs-in-text63 {
  display: inline-block;
}
