.create-listing-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.create-listing-text10 {
  display: inline-block;
}
 
.create-listing-text11 {
  display: inline-block;
}
 
.create-listing-text12 {
  display: inline-block;
}
 
.create-listing-text13 {
  display: inline-block;
}
 
.create-listing-text14 {
  display: inline-block;
}
 
.create-listing-text15 {
  display: inline-block;
}
 
.create-listing-text16 {
  display: inline-block;
}
 
.create-listing-text17 {
  display: inline-block;
}
 
.create-listing-text18 {
  display: inline-block;
}
 
.create-listing-text19 {
  display: inline-block;
}
 
.create-listing-text20 {
  display: inline-block;
}
 
.create-listing-text21 {
  display: inline-block;
}
 
.create-listing-text22 {
  display: inline-block;
}
 
.create-listing-text23 {
  display: inline-block;
}
 
.create-listing-text24 {
  display: inline-block;
}
 
.create-listing-text25 {
  display: inline-block;
}
 
.create-listing-text26 {
  display: inline-block;
}
 
.create-listing-text27 {
  display: inline-block;
}
 
.create-listing-text28 {
  display: inline-block;
}
 
.create-listing-text29 {
  display: inline-block;
}
 
.create-listing-text32 {
  display: inline-block;
}
 
.create-listing-text33 {
  display: inline-block;
}
 
.create-listing-text34 {
  display: inline-block;
}
 
.create-listing-text35 {
  display: inline-block;
}
 
.create-listing-text36 {
  display: inline-block;
}
 
.create-listing-text37 {
  display: inline-block;
}
 
.create-listing-text38 {
  display: inline-block;
}
 
.create-listing-text39 {
  display: inline-block;
}
 
.create-listing-text40 {
  display: inline-block;
}
 
.create-listing-text41 {
  display: inline-block;
}
 
.create-listing-text42 {
  display: inline-block;
}
 
.create-listing-text43 {
  display: inline-block;
}
 
.create-listing-text44 {
  display: inline-block;
}
 
.create-listing-text45 {
  display: inline-block;
}
 
.create-listing-text46 {
  display: inline-block;
}
 
.create-listing-text47 {
  display: inline-block;
}
 
.create-listing-text48 {
  display: inline-block;
}
 
.create-listing-text49 {
  display: inline-block;
}
 
.create-listing-text50 {
  display: inline-block;
}
 
.create-listing-text51 {
  display: inline-block;
}
 
.create-listing-text52 {
  display: inline-block;
}
 
.create-listing-text53 {
  display: inline-block;
}
 
.create-listing-text54 {
  display: inline-block;
}
 
.create-listing-text55 {
  display: inline-block;
}
 
.create-listing-text56 {
  display: inline-block;
}
 
.create-listing-text57 {
  display: inline-block;
}
 
.create-listing-text58 {
  display: inline-block;
}
 
.create-listing-text59 {
  display: inline-block;
}
 
.create-listing-text60 {
  display: inline-block;
}
 
.create-listing-text61 {
  display: inline-block;
}
 
.create-listing-text62 {
  display: inline-block;
}
 
.create-listing-text63 {
  display: inline-block;
}
 
.create-listing-text64 {
  display: inline-block;
}
