.create-account-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.create-account-text10 {
  display: inline-block;
}
 
.create-account-text11 {
  display: inline-block;
}
 
.create-account-text12 {
  display: inline-block;
}
 
.create-account-text13 {
  display: inline-block;
}
 
.create-account-text14 {
  display: inline-block;
}
 
.create-account-text15 {
  display: inline-block;
}
 
.create-account-text16 {
  display: inline-block;
}
 
.create-account-text17 {
  display: inline-block;
}
 
.create-account-text18 {
  display: inline-block;
}
 
.create-account-text19 {
  display: inline-block;
}
 
.create-account-text20 {
  display: inline-block;
}
 
.create-account-text21 {
  display: inline-block;
}
 
.create-account-text22 {
  display: inline-block;
}
 
.create-account-text23 {
  display: inline-block;
}
 
.create-account-text24 {
  display: inline-block;
}
 
.create-account-text25 {
  display: inline-block;
}
 
.create-account-text26 {
  display: inline-block;
}
 
.create-account-text27 {
  display: inline-block;
}
 
.create-account-text28 {
  display: inline-block;
}
 
.create-account-text29 {
  display: inline-block;
}
 
.create-account-text30 {
  display: inline-block;
}
 
.create-account-text31 {
  display: inline-block;
}
 
.create-account-text32 {
  display: inline-block;
}
 
.create-account-text33 {
  display: inline-block;
}
 
.create-account-text34 {
  display: inline-block;
}
 
.create-account-text35 {
  display: inline-block;
}
 
.create-account-text36 {
  display: inline-block;
}
 
.create-account-text37 {
  display: inline-block;
}
