.dashboard-volunteer-in-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.dashboard-volunteer-in-text10 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text11 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text12 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text13 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text14 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text15 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text16 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text17 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text18 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text19 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text20 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text21 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text22 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text23 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text24 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text25 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text26 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text29 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text30 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text31 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text32 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text33 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text34 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text35 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text36 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text37 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text38 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text39 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text40 {
  display: inline-block;
}
 
.dashboard-volunteer-in-text41 {
  display: inline-block;
}
