.editlisting-container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
   
  .editlisting-text10 {
    display: inline-block;
  }
   
  .editlisting-text11 {
    display: inline-block;
  }
   
  .editlisting-text12 {
    display: inline-block;
  }
   
  .editlisting-text13 {
    display: inline-block;
  }
   
  .editlisting-text14 {
    display: inline-block;
  }
   
  .editlisting-text15 {
    display: inline-block;
  }
   
  .editlisting-text16 {
    display: inline-block;
  }
   
  .editlisting-text17 {
    display: inline-block;
  }
   
  .editlisting-text18 {
    display: inline-block;
  }
   
  .editlisting-text19 {
    display: inline-block;
  }
   
  .editlisting-text20 {
    display: inline-block;
  }
   
  .editlisting-text21 {
    display: inline-block;
  }
   
  .editlisting-text22 {
    display: inline-block;
  }
   
  .editlisting-text23 {
    display: inline-block;
  }
   
  .editlisting-text24 {
    display: inline-block;
  }
   
  .editlisting-text25 {
    display: inline-block;
  }
   
  .editlisting-text26 {
    display: inline-block;
  }
   
  .editlisting-text27 {
    display: inline-block;
  }
   
  .editlisting-text28 {
    display: inline-block;
  }
   
  .editlisting-text29 {
    display: inline-block;
  }
   
  .editlisting-text30 {
    display: inline-block;
  }
   
  .editlisting-text31 {
    display: inline-block;
  }
   
  .editlisting-text32 {
    display: inline-block;
  }
   
  .editlisting-text33 {
    display: inline-block;
  }
   
  .editlisting-text34 {
    display: inline-block;
  }
   
  .editlisting-text35 {
    display: inline-block;
  }
   
  .editlisting-text36 {
    display: inline-block;
  }
   
  .editlisting-text37 {
    display: inline-block;
  }
   
  .editlisting-text38 {
    display: inline-block;
  }
   
  .editlisting-text39 {
    display: inline-block;
  }
   
  .editlisting-text40 {
    display: inline-block;
  }
   
  .editlisting-text41 {
    display: inline-block;
  }
   
  .editlisting-text42 {
    display: inline-block;
  }
   
  .editlisting-text43 {
    display: inline-block;
  }
  