.find-volunteers-in-org-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.find-volunteers-in-org-text10 {
  display: inline-block;
}
 
.find-volunteers-in-org-text11 {
  display: inline-block;
}
 
.find-volunteers-in-org-text12 {
  display: inline-block;
}
 
.find-volunteers-in-org-text13 {
  display: inline-block;
}
 
.find-volunteers-in-org-text14 {
  display: inline-block;
}
 
.find-volunteers-in-org-text15 {
  display: inline-block;
}
 
.find-volunteers-in-org-text16 {
  display: inline-block;
}
 
.find-volunteers-in-org-text17 {
  display: inline-block;
}
 
.find-volunteers-in-org-text18 {
  display: inline-block;
}
 
.find-volunteers-in-org-text19 {
  display: inline-block;
}
 
.find-volunteers-in-org-text20 {
  display: inline-block;
}
 
.find-volunteers-in-org-text21 {
  display: inline-block;
}
 
.find-volunteers-in-org-text22 {
  display: inline-block;
}
 
.find-volunteers-in-org-text23 {
  display: inline-block;
}
 
.find-volunteers-in-org-text24 {
  display: inline-block;
}
 
.find-volunteers-in-org-text25 {
  display: inline-block;
}
 
.find-volunteers-in-org-text26 {
  display: inline-block;
}
 
.find-volunteers-in-org-text27 {
  display: inline-block;
}
 
.find-volunteers-in-org-text28 {
  display: inline-block;
}
 
.find-volunteers-in-org-text29 {
  display: inline-block;
}
 
.find-volunteers-in-org-text30 {
  display: inline-block;
}
 
.find-volunteers-in-org-text33 {
  display: inline-block;
}
 
.find-volunteers-in-org-text34 {
  display: inline-block;
}
 
.find-volunteers-in-org-text35 {
  display: inline-block;
}
 
.find-volunteers-in-org-text36 {
  display: inline-block;
}
 
.find-volunteers-in-org-text37 {
  display: inline-block;
}
 
.find-volunteers-in-org-text38 {
  display: inline-block;
}
 
.find-volunteers-in-org-text39 {
  display: inline-block;
}
 
.find-volunteers-in-org-text40 {
  display: inline-block;
}
 
.find-volunteers-in-org-text41 {
  display: inline-block;
}
 
.find-volunteers-in-org-text42 {
  display: inline-block;
}
 
.find-volunteers-in-org-text43 {
  display: inline-block;
}
 
.find-volunteers-in-org-text44 {
  display: inline-block;
}
 
.find-volunteers-in-org-text45 {
  display: inline-block;
}
 
.find-volunteers-in-org-text46 {
  display: inline-block;
}
 
.find-volunteers-in-org-text47 {
  display: inline-block;
}
 
.find-volunteers-in-org-text48 {
  display: inline-block;
}
 
.find-volunteers-in-org-text49 {
  display: inline-block;
}
 
.find-volunteers-in-org-text50 {
  display: inline-block;
}
 
.find-volunteers-in-org-text51 {
  display: inline-block;
}
 
.find-volunteers-in-org-text52 {
  display: inline-block;
}
 
.find-volunteers-in-org-text53 {
  display: inline-block;
}
 
.find-volunteers-in-org-text54 {
  display: inline-block;
}
 
.find-volunteers-in-org-text57 {
  display: inline-block;
}
 
.find-volunteers-in-org-text58 {
  display: inline-block;
}
 
.find-volunteers-in-org-text59 {
  display: inline-block;
}
 
.find-volunteers-in-org-text60 {
  display: inline-block;
}
 
.find-volunteers-in-org-text61 {
  display: inline-block;
}
 
.find-volunteers-in-org-text62 {
  display: inline-block;
}
 
.find-volunteers-in-org-text63 {
  display: inline-block;
}
 
.find-volunteers-in-org-text64 {
  display: inline-block;
}
 
.find-volunteers-in-org-text65 {
  display: inline-block;
}
 
.find-volunteers-in-org-text66 {
  display: inline-block;
}
 
.find-volunteers-in-org-text67 {
  display: inline-block;
}
 
.find-volunteers-in-org-text68 {
  display: inline-block;
}
 
.find-volunteers-in-org-text69 {
  display: inline-block;
}
