.homeinorg-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.homeinorg-text10 {
  display: inline-block;
}
 
.homeinorg-text11 {
  display: inline-block;
}
 
.homeinorg-text12 {
  display: inline-block;
}
 
.homeinorg-text13 {
  display: inline-block;
}
 
.homeinorg-text14 {
  display: inline-block;
}
 
.homeinorg-text15 {
  display: inline-block;
}
 
.homeinorg-text16 {
  display: inline-block;
}
 
.homeinorg-text17 {
  display: inline-block;
}
 
.homeinorg-text18 {
  display: inline-block;
}
 
.homeinorg-text19 {
  display: inline-block;
}
 
.homeinorg-text20 {
  display: inline-block;
}
 
.homeinorg-text21 {
  display: inline-block;
}
 
.homeinorg-text22 {
  display: inline-block;
}
 
.homeinorg-text23 {
  display: inline-block;
}
 
.homeinorg-text24 {
  display: inline-block;
}
 
.homeinorg-text25 {
  display: inline-block;
}
 
.homeinorg-text26 {
  display: inline-block;
}
 
.homeinorg-text27 {
  display: inline-block;
}
 
.homeinorg-text28 {
  display: inline-block;
}
 
.homeinorg-text29 {
  display: inline-block;
}
 
.homeinorg-text30 {
  display: inline-block;
}
 
.homeinorg-text31 {
  display: inline-block;
}
 
.homeinorg-text32 {
  display: inline-block;
}
 
.homeinorg-text36 {
  display: inline-block;
}
 
.homeinorg-text37 {
  color: var(--dl-color-theme-neutral-dark);
}
 
.homeinorg-text40 {
  display: inline-block;
}
 
.homeinorg-text41 {
  display: inline-block;
}
 
.homeinorg-text42 {
  display: inline-block;
}
 
.homeinorg-text43 {
  display: inline-block;
}
 
.homeinorg-text44 {
  display: inline-block;
}
 
.homeinorg-text45 {
  display: inline-block;
}
 
.homeinorg-text46 {
  display: inline-block;
}
 
.homeinorg-text47 {
  display: inline-block;
}
 
.homeinorg-text48 {
  display: inline-block;
}
 
.homeinorg-text49 {
  display: inline-block;
}
 
.homeinorg-text50 {
  display: inline-block;
}
 
.homeinorg-text54 {
  display: inline-block;
}
 
.homeinorg-text58 {
  display: inline-block;
}
 
.homeinorg-text59 {
  display: inline-block;
}
 
.homeinorg-text60 {
  display: inline-block;
}
 
.homeinorg-text61 {
  display: inline-block;
}
 
.homeinorg-text62 {
  display: inline-block;
}
 
.homeinorg-text63 {
  display: inline-block;
}
 
.homeinorg-text64 {
  display: inline-block;
}
 
.homeinorg-text65 {
  display: inline-block;
}
 
.homeinorg-text66 {
  display: inline-block;
}
 
.homeinorg-text67 {
  display: inline-block;
}
 
.homeinorg-text68 {
  display: inline-block;
}
 
.homeinorg-text69 {
  display: inline-block;
}
 
.homeinorg-text70 {
  display: inline-block;
}
 
.homeinorg-text71 {
  display: inline-block;
}
 
.homeinorg-text72 {
  display: inline-block;
}
 
.homeinorg-text73 {
  display: inline-block;
}
 
.homeinorg-text74 {
  display: inline-block;
}
 
.homeinorg-text75 {
  display: inline-block;
}
 
.homeinorg-text76 {
  display: inline-block;
}
 
.homeinorg-text77 {
  display: inline-block;
}
 
.homeinorg-text78 {
  display: inline-block;
}
 
.homeinorg-text79 {
  display: inline-block;
}
 
.homeinorg-text80 {
  display: inline-block;
}
 
.homeinorg-text81 {
  display: inline-block;
}
 
.homeinorg-text82 {
  display: inline-block;
}
 
.homeinorg-text83 {
  display: inline-block;
}
 
.homeinorg-text84 {
  display: inline-block;
}
 
.homeinorg-text85 {
  display: inline-block;
}
 
.homeinorg-text86 {
  display: inline-block;
}
 
.homeinorg-text87 {
  display: inline-block;
}
 
.homeinorg-text88 {
  display: inline-block;
}
 
.homeinorg-text89 {
  display: inline-block;
}
 
.homeinorg-text90 {
  display: inline-block;
}
 
.homeinorg-text91 {
  display: inline-block;
}
