.homein-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.homein-text10 {
  display: inline-block;
}
 
.homein-text11 {
  display: inline-block;
}
 
.homein-text12 {
  display: inline-block;
}
 
.homein-text13 {
  display: inline-block;
}
 
.homein-text14 {
  display: inline-block;
}
 
.homein-text15 {
  display: inline-block;
}
 
.homein-text16 {
  display: inline-block;
}
 
.homein-text17 {
  display: inline-block;
}
 
.homein-text18 {
  display: inline-block;
}
 
.homein-text19 {
  display: inline-block;
}
 
.homein-text20 {
  display: inline-block;
}
 
.homein-text21 {
  display: inline-block;
}
 
.homein-text22 {
  display: inline-block;
}
 
.homein-text23 {
  display: inline-block;
}
 
.homein-text24 {
  display: inline-block;
}
 
.homein-text25 {
  display: inline-block;
}
 
.homein-text26 {
  display: inline-block;
}
 
.homein-text27 {
  display: inline-block;
}
 
.homein-text28 {
  display: inline-block;
}
 
.homein-text29 {
  display: inline-block;
}
 
.homein-text30 {
  display: inline-block;
}
 
.homein-text31 {
  display: inline-block;
}
 
.homein-text32 {
  display: inline-block;
}
 
.homein-text36 {
  display: inline-block;
}
 
.homein-text37 {
  color: var(--dl-color-theme-neutral-dark);
}
 
.homein-text40 {
  display: inline-block;
}
 
.homein-text41 {
  display: inline-block;
}
 
.homein-text42 {
  display: inline-block;
}
 
.homein-text43 {
  display: inline-block;
}
 
.homein-text44 {
  display: inline-block;
}
 
.homein-text45 {
  display: inline-block;
}
 
.homein-text46 {
  display: inline-block;
}
 
.homein-text47 {
  display: inline-block;
}
 
.homein-text48 {
  display: inline-block;
}
 
.homein-text49 {
  display: inline-block;
}
 
.homein-text50 {
  display: inline-block;
}
 
.homein-text54 {
  display: inline-block;
}
 
.homein-text58 {
  display: inline-block;
}
 
.homein-text59 {
  display: inline-block;
}
 
.homein-text60 {
  display: inline-block;
}
 
.homein-text61 {
  display: inline-block;
}
 
.homein-text62 {
  display: inline-block;
}
 
.homein-text63 {
  display: inline-block;
}
 
.homein-text64 {
  display: inline-block;
}
 
.homein-text65 {
  display: inline-block;
}
 
.homein-text66 {
  display: inline-block;
}
 
.homein-text67 {
  display: inline-block;
}
 
.homein-text68 {
  display: inline-block;
}
 
.homein-text69 {
  display: inline-block;
}
 
.homein-text70 {
  display: inline-block;
}
 
.homein-text71 {
  display: inline-block;
}
 
.homein-text72 {
  display: inline-block;
}
 
.homein-text73 {
  display: inline-block;
}
 
.homein-text74 {
  display: inline-block;
}
 
.homein-text75 {
  display: inline-block;
}
 
.homein-text76 {
  display: inline-block;
}
 
.homein-text77 {
  display: inline-block;
}
 
.homein-text78 {
  display: inline-block;
}
 
.homein-text79 {
  display: inline-block;
}
 
.homein-text80 {
  display: inline-block;
}
 
.homein-text81 {
  display: inline-block;
}
 
.homein-text82 {
  display: inline-block;
}
 
.homein-text83 {
  display: inline-block;
}
 
.homein-text84 {
  display: inline-block;
}
 
.homein-text85 {
  display: inline-block;
}
 
.homein-text86 {
  display: inline-block;
}
 
.homein-text87 {
  display: inline-block;
}
 
.homein-text88 {
  display: inline-block;
}
 
.homein-text89 {
  display: inline-block;
}
 
.homein-text90 {
  display: inline-block;
}
 
.homein-text91 {
  display: inline-block;
}
