.listingout-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.listingout-text10 {
  display: inline-block;
}
 
.listingout-text11 {
  display: inline-block;
}
 
.listingout-text12 {
  display: inline-block;
}
 
.listingout-text13 {
  display: inline-block;
}
 
.listingout-text14 {
  display: inline-block;
}
 
.listingout-text15 {
  display: inline-block;
}
 
.listingout-text16 {
  display: inline-block;
}
 
.listingout-text17 {
  display: inline-block;
}
 
.listingout-text18 {
  display: inline-block;
}
 
.listingout-text19 {
  display: inline-block;
}
 
.listingout-text20 {
  display: inline-block;
}
 
.listingout-text21 {
  display: inline-block;
}
 
.listingout-text22 {
  display: inline-block;
}
 
.listingout-text23 {
  display: inline-block;
}
 
.listingout-text24 {
  display: inline-block;
}
 
.listingout-text25 {
  display: inline-block;
}
 
.listingout-text26 {
  display: inline-block;
}
 
.listingout-text27 {
  display: inline-block;
}
 
.listingout-text28 {
  display: inline-block;
}
 
.listingout-text29 {
  display: inline-block;
}
 
.listingout-text30 {
  display: inline-block;
}
 
.listingout-text31 {
  display: inline-block;
}
 
.listingout-text32 {
  display: inline-block;
}
 
.listingout-text33 {
  display: inline-block;
}
 
.listingout-text34 {
  display: inline-block;
}
 
.listingout-text35 {
  display: inline-block;
}
 
.listingout-text36 {
  display: inline-block;
}
 
.listingout-text37 {
  display: inline-block;
}
 
.listingout-text38 {
  display: inline-block;
}
 
.listingout-text39 {
  display: inline-block;
}
 
.listingout-text40 {
  display: inline-block;
}
 
.listingout-text41 {
  display: inline-block;
}
