.listingin-org-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.listingin-org-text10 {
  display: inline-block;
}
 
.listingin-org-text11 {
  display: inline-block;
}
 
.listingin-org-text12 {
  display: inline-block;
}
 
.listingin-org-text13 {
  display: inline-block;
}
 
.listingin-org-text14 {
  display: inline-block;
}
 
.listingin-org-text15 {
  display: inline-block;
}
 
.listingin-org-text16 {
  display: inline-block;
}
 
.listingin-org-text17 {
  display: inline-block;
}
 
.listingin-org-text18 {
  display: inline-block;
}
 
.listingin-org-text19 {
  display: inline-block;
}
 
.listingin-org-text20 {
  display: inline-block;
}
 
.listingin-org-text21 {
  display: inline-block;
}
 
.listingin-org-text22 {
  display: inline-block;
}
 
.listingin-org-text23 {
  display: inline-block;
}
 
.listingin-org-text24 {
  display: inline-block;
}
 
.listingin-org-text25 {
  display: inline-block;
}
 
.listingin-org-text26 {
  display: inline-block;
}
 
.listingin-org-text27 {
  display: inline-block;
}
 
.listingin-org-text28 {
  display: inline-block;
}
 
.listingin-org-text29 {
  display: inline-block;
}
 
.listingin-org-text30 {
  display: inline-block;
}
 
.listingin-org-text31 {
  display: inline-block;
}
 
.listingin-org-text32 {
  display: inline-block;
}
 
.listingin-org-text33 {
  display: inline-block;
}
 
.listingin-org-text34 {
  display: inline-block;
}
 
.listingin-org-text35 {
  display: inline-block;
}
 
.listingin-org-text36 {
  display: inline-block;
}
 
.listingin-org-text37 {
  display: inline-block;
}
 
.listingin-org-text38 {
  display: inline-block;
}
 
.listingin-org-text39 {
  display: inline-block;
}
 
.listingin-org-text40 {
  display: inline-block;
}
 
.listingin-org-text41 {
  display: inline-block;
}
 
.listingin-org-text42 {
  display: inline-block;
}
