.listinginvol-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.listinginvol-text10 {
  display: inline-block;
}
 
.listinginvol-text11 {
  display: inline-block;
}
 
.listinginvol-text12 {
  display: inline-block;
}
 
.listinginvol-text13 {
  display: inline-block;
}
 
.listinginvol-text14 {
  display: inline-block;
}
 
.listinginvol-text15 {
  display: inline-block;
}
 
.listinginvol-text16 {
  display: inline-block;
}
 
.listinginvol-text17 {
  display: inline-block;
}
 
.listinginvol-text18 {
  display: inline-block;
}
 
.listinginvol-text19 {
  display: inline-block;
}
 
.listinginvol-text20 {
  display: inline-block;
}
 
.listinginvol-text21 {
  display: inline-block;
}
 
.listinginvol-text22 {
  display: inline-block;
}
 
.listinginvol-text23 {
  display: inline-block;
}
 
.listinginvol-text24 {
  display: inline-block;
}
 
.listinginvol-text25 {
  display: inline-block;
}
 
.listinginvol-text26 {
  display: inline-block;
}
 
.listinginvol-text27 {
  display: inline-block;
}
 
.listinginvol-text28 {
  display: inline-block;
}
 
.listinginvol-text29 {
  display: inline-block;
}
 
.listinginvol-text30 {
  display: inline-block;
}
 
.listinginvol-text31 {
  display: inline-block;
}
 
.listinginvol-text32 {
  display: inline-block;
}
 
.listinginvol-text33 {
  display: inline-block;
}
 
.listinginvol-text34 {
  display: inline-block;
}
 
.listinginvol-text35 {
  display: inline-block;
}
 
.listinginvol-text36 {
  display: inline-block;
}
 
.listinginvol-text37 {
  display: inline-block;
}
 
.listinginvol-text38 {
  display: inline-block;
}
 
.listinginvol-text39 {
  display: inline-block;
}
 
.listinginvol-text40 {
  display: inline-block;
}
 
.listinginvol-text41 {
  display: inline-block;
}
 
.listinginvol-text42 {
  display: inline-block;
}
