.opportunities-inorg-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.opportunities-inorg-text10 {
  display: inline-block;
}
 
.opportunities-inorg-text11 {
  display: inline-block;
}
 
.opportunities-inorg-text12 {
  display: inline-block;
}
 
.opportunities-inorg-text13 {
  display: inline-block;
}
 
.opportunities-inorg-text14 {
  display: inline-block;
}
 
.opportunities-inorg-text15 {
  display: inline-block;
}
 
.opportunities-inorg-text16 {
  display: inline-block;
}
 
.opportunities-inorg-text17 {
  display: inline-block;
}
 
.opportunities-inorg-text18 {
  display: inline-block;
}
 
.opportunities-inorg-text19 {
  display: inline-block;
}
 
.opportunities-inorg-text20 {
  display: inline-block;
}
 
.opportunities-inorg-text21 {
  display: inline-block;
}
 
.opportunities-inorg-text22 {
  display: inline-block;
}
 
.opportunities-inorg-text23 {
  display: inline-block;
}
 
.opportunities-inorg-text24 {
  display: inline-block;
}
 
.opportunities-inorg-text25 {
  display: inline-block;
}
 
.opportunities-inorg-text26 {
  display: inline-block;
}
 
.opportunities-inorg-text27 {
  display: inline-block;
}
 
.opportunities-inorg-text28 {
  display: inline-block;
}
 
.opportunities-inorg-text29 {
  display: inline-block;
}
 
.opportunities-inorg-text30 {
  display: inline-block;
}
 
.opportunities-inorg-text34 {
  display: inline-block;
}
 
.opportunities-inorg-text35 {
  display: inline-block;
}
 
.opportunities-inorg-text36 {
  display: inline-block;
}
 
.opportunities-inorg-text37 {
  display: inline-block;
}
 
.opportunities-inorg-text38 {
  display: inline-block;
}
 
.opportunities-inorg-text39 {
  display: inline-block;
}
 
.opportunities-inorg-text40 {
  display: inline-block;
}
 
.opportunities-inorg-text41 {
  display: inline-block;
}
 
.opportunities-inorg-text42 {
  display: inline-block;
}
 
.opportunities-inorg-text43 {
  display: inline-block;
}
 
.opportunities-inorg-text44 {
  display: inline-block;
}
 
.opportunities-inorg-text45 {
  display: inline-block;
}
 
.opportunities-inorg-text46 {
  display: inline-block;
}
 
.opportunities-inorg-text47 {
  display: inline-block;
}
 
.opportunities-inorg-text48 {
  display: inline-block;
}
 
.opportunities-inorg-text49 {
  display: inline-block;
}
 
.opportunities-inorg-text50 {
  display: inline-block;
}
 
.opportunities-inorg-text51 {
  display: inline-block;
}
 
.opportunities-inorg-text52 {
  display: inline-block;
}
 
.opportunities-inorg-text53 {
  display: inline-block;
}
 
.opportunities-inorg-text54 {
  display: inline-block;
}
 
.opportunities-inorg-text55 {
  display: inline-block;
}
 
.opportunities-inorg-text56 {
  display: inline-block;
}
 
.opportunities-inorg-text57 {
  display: inline-block;
}
 
.opportunities-inorg-text58 {
  display: inline-block;
}
 
.opportunities-inorg-text59 {
  display: inline-block;
}
 
.opportunities-inorg-text60 {
  display: inline-block;
}
 
.opportunities-inorg-text61 {
  display: inline-block;
}
 
.opportunities-inorg-text62 {
  display: inline-block;
}
 
.opportunities-inorg-text63 {
  display: inline-block;
}
 
.opportunities-inorg-text64 {
  display: inline-block;
}
 
.opportunities-inorg-text65 {
  display: inline-block;
}
