.opportunities-out-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.opportunities-out-text10 {
  display: inline-block;
}
 
.opportunities-out-text11 {
  display: inline-block;
}
 
.opportunities-out-text12 {
  display: inline-block;
}
 
.opportunities-out-text13 {
  display: inline-block;
}
 
.opportunities-out-text14 {
  display: inline-block;
}
 
.opportunities-out-text15 {
  display: inline-block;
}
 
.opportunities-out-text16 {
  display: inline-block;
}
 
.opportunities-out-text17 {
  display: inline-block;
}
 
.opportunities-out-text18 {
  display: inline-block;
}
 
.opportunities-out-text19 {
  display: inline-block;
}
 
.opportunities-out-text20 {
  display: inline-block;
}
 
.opportunities-out-text21 {
  display: inline-block;
}
 
.opportunities-out-text22 {
  display: inline-block;
}
 
.opportunities-out-text23 {
  display: inline-block;
}
 
.opportunities-out-text24 {
  display: inline-block;
}
 
.opportunities-out-text25 {
  display: inline-block;
}
 
.opportunities-out-text26 {
  display: inline-block;
}
 
.opportunities-out-text27 {
  display: inline-block;
}
 
.opportunities-out-text28 {
  display: inline-block;
}
 
.opportunities-out-text29 {
  display: inline-block;
}
 
.opportunities-out-text33 {
  display: inline-block;
}
 
.opportunities-out-text34 {
  display: inline-block;
}
 
.opportunities-out-text35 {
  display: inline-block;
}
 
.opportunities-out-text36 {
  display: inline-block;
}
 
.opportunities-out-text37 {
  display: inline-block;
}
 
.opportunities-out-text38 {
  display: inline-block;
}
 
.opportunities-out-text39 {
  display: inline-block;
}
 
.opportunities-out-text40 {
  display: inline-block;
}
 
.opportunities-out-text41 {
  display: inline-block;
}
 
.opportunities-out-text42 {
  display: inline-block;
}
 
.opportunities-out-text43 {
  display: inline-block;
}
 
.opportunities-out-text44 {
  display: inline-block;
}
 
.opportunities-out-text45 {
  display: inline-block;
}
 
.opportunities-out-text46 {
  display: inline-block;
}
 
.opportunities-out-text47 {
  display: inline-block;
}
 
.opportunities-out-text48 {
  display: inline-block;
}
 
.opportunities-out-text49 {
  display: inline-block;
}
 
.opportunities-out-text50 {
  display: inline-block;
}
 
.opportunities-out-text51 {
  display: inline-block;
}
 
.opportunities-out-text52 {
  display: inline-block;
}
 
.opportunities-out-text53 {
  display: inline-block;
}
 
.opportunities-out-text54 {
  display: inline-block;
}
 
.opportunities-out-text55 {
  display: inline-block;
}
 
.opportunities-out-text56 {
  display: inline-block;
}
 
.opportunities-out-text57 {
  display: inline-block;
}
 
.opportunities-out-text58 {
  display: inline-block;
}
 
.opportunities-out-text59 {
  display: inline-block;
}
 
.opportunities-out-text60 {
  display: inline-block;
}
 
.opportunities-out-text61 {
  display: inline-block;
}
 
.opportunities-out-text62 {
  display: inline-block;
}
 
.opportunities-out-text63 {
  display: inline-block;
}
 
.opportunities-out-text64 {
  display: inline-block;
}
