.results-container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
   
  .results-text10 {
    display: inline-block;
  }
   
  .results-text11 {
    display: inline-block;
  }
   
  .results-text12 {
    display: inline-block;
  }
   
  .results-text13 {
    display: inline-block;
  }
   
  .results-text14 {
    display: inline-block;
  }
   
  .results-text15 {
    display: inline-block;
  }
   
  .results-text16 {
    display: inline-block;
  }
   
  .results-text17 {
    display: inline-block;
  }
   
  .results-text18 {
    display: inline-block;
  }
   
  .results-text19 {
    display: inline-block;
  }
   
  .results-text20 {
    display: inline-block;
  }
   
  .results-text21 {
    display: inline-block;
  }
   
  .results-text22 {
    display: inline-block;
  }
   
  .results-text23 {
    display: inline-block;
  }
   
  .results-text24 {
    display: inline-block;
  }
   
  .results-text25 {
    display: inline-block;
  }
   
  .results-text26 {
    display: inline-block;
  }
   
  .results-text27 {
    display: inline-block;
  }
   
  .results-text28 {
    display: inline-block;
  }
   
  .results-text29 {
    display: inline-block;
  }
   
  .results-text30 {
    display: inline-block;
  }
   
  .results-text31 {
    display: inline-block;
  }
   
  .results-text32 {
    display: inline-block;
  }
   
  .results-text33 {
    display: inline-block;
  }
   
  .results-text34 {
    display: inline-block;
  }
  