.role-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.role-text10 {
  display: inline-block;
}
 
.role-text11 {
  display: inline-block;
}
 
.role-text12 {
  display: inline-block;
}
 
.role-text13 {
  display: inline-block;
}
 
.role-text14 {
  display: inline-block;
}
 
.role-text15 {
  display: inline-block;
}
 
.role-text16 {
  display: inline-block;
}
 
.role-text17 {
  display: inline-block;
}
 
.role-text18 {
  display: inline-block;
}
 
.role-text19 {
  display: inline-block;
}
 
.role-text20 {
  display: inline-block;
}
 
.role-text21 {
  display: inline-block;
}
 
.role-text22 {
  display: inline-block;
}
 
.role-text23 {
  display: inline-block;
}
 
.role-text24 {
  display: inline-block;
}
 
.role-text25 {
  display: inline-block;
}
 
.role-text26 {
  display: inline-block;
}
 
.role-text27 {
  display: inline-block;
}
 
.role-text28 {
  display: inline-block;
}
 
.role-text29 {
  display: inline-block;
}
 
.role-text30 {
  display: inline-block;
}
 
.role-text31 {
  display: inline-block;
}
 
.role-text32 {
  display: inline-block;
}
 
.role-text33 {
  display: inline-block;
}
 
.role-text34 {
  display: inline-block;
}
 
.role-text35 {
  display: inline-block;
}
 
.role-text36 {
  display: inline-block;
}
 
.role-text37 {
  display: inline-block;
}
 
.role-text38 {
  display: inline-block;
}
 
.role-text39 {
  display: inline-block;
}
 
.role-text40 {
  display: inline-block;
}
