.termsand-policies-in-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.termsand-policies-in-text100 {
  display: inline-block;
}
 
.termsand-policies-in-text101 {
  display: inline-block;
}
 
.termsand-policies-in-text102 {
  display: inline-block;
}
 
.termsand-policies-in-text103 {
  display: inline-block;
}
 
.termsand-policies-in-text104 {
  display: inline-block;
}
 
.termsand-policies-in-text105 {
  display: inline-block;
}
 
.termsand-policies-in-text106 {
  display: inline-block;
}
 
.termsand-policies-in-text107 {
  display: inline-block;
}
 
.termsand-policies-in-text108 {
  display: inline-block;
}
 
.termsand-policies-in-text109 {
  display: inline-block;
}
 
.termsand-policies-in-text110 {
  display: inline-block;
}
 
.termsand-policies-in-text111 {
  display: inline-block;
}
 
.termsand-policies-in-text112 {
  display: inline-block;
}
 
.termsand-policies-in-text113 {
  display: inline-block;
}
 
.termsand-policies-in-text114 {
  display: inline-block;
}
 
.termsand-policies-in-text115 {
  display: inline-block;
}
 
.termsand-policies-in-text116 {
  display: inline-block;
}
 
.termsand-policies-in-text117 {
  display: inline-block;
}
 
.termsand-policies-in-text120 {
  display: inline-block;
}
 
.termsand-policies-in-text121 {
  display: inline-block;
}
 
.termsand-policies-in-text122 {
  display: inline-block;
}
 
.termsand-policies-in-text166 {
  display: inline-block;
}
 
.termsand-policies-in-text167 {
  display: inline-block;
}
 
.termsand-policies-in-text168 {
  display: inline-block;
}
 
.termsand-policies-in-text169 {
  display: inline-block;
}
 
.termsand-policies-in-text170 {
  display: inline-block;
}
 
.termsand-policies-in-text184 {
  display: inline-block;
}
 
.termsand-policies-in-text198 {
  display: inline-block;
}
 
.termsand-policies-in-text199 {
  display: inline-block;
}
 
.termsand-policies-in-text200 {
  display: inline-block;
}
 
.termsand-policies-in-text201 {
  display: inline-block;
}
 
.termsand-policies-in-text202 {
  display: inline-block;
}
 
.termsand-policies-in-text203 {
  display: inline-block;
}
 
.termsand-policies-in-text204 {
  display: inline-block;
}
 
.termsand-policies-in-text205 {
  display: inline-block;
}
 
.termsand-policies-in-text206 {
  display: inline-block;
}
 
.termsand-policies-in-text207 {
  display: inline-block;
}
 
.termsand-policies-in-text208 {
  display: inline-block;
}
 
.termsand-policies-in-text209 {
  display: inline-block;
}
 
.termsand-policies-in-text210 {
  display: inline-block;
}
 
.termsand-policies-in-text211 {
  display: inline-block;
}
 
.termsand-policies-in-text212 {
  display: inline-block;
}
 
.termsand-policies-in-text213 {
  display: inline-block;
}
 
.termsand-policies-in-text214 {
  display: inline-block;
}
 
.termsand-policies-in-text215 {
  display: inline-block;
}
 
.termsand-policies-in-text216 {
  display: inline-block;
}
 
.termsand-policies-in-text217 {
  display: inline-block;
}
 
.termsand-policies-in-text218 {
  display: inline-block;
}
 
.termsand-policies-in-text219 {
  display: inline-block;
}
 
.termsand-policies-in-text220 {
  display: inline-block;
}
 
.termsand-policies-in-text221 {
  display: inline-block;
}
 
.termsand-policies-in-text222 {
  display: inline-block;
}
 
.termsand-policies-in-text223 {
  display: inline-block;
}
 
.termsand-policies-in-text224 {
  display: inline-block;
}
