.verify-email-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.verify-email-text10 {
  display: inline-block;
}
 
.verify-email-text11 {
  display: inline-block;
}
 
.verify-email-text12 {
  display: inline-block;
}
 
.verify-email-text13 {
  display: inline-block;
}
 
.verify-email-text14 {
  display: inline-block;
}
 
.verify-email-text15 {
  display: inline-block;
}
 
.verify-email-text16 {
  display: inline-block;
}
 
.verify-email-text17 {
  display: inline-block;
}
 
.verify-email-text18 {
  display: inline-block;
}
 
.verify-email-text19 {
  display: inline-block;
}
 
.verify-email-text20 {
  display: inline-block;
}
 
.verify-email-text21 {
  display: inline-block;
}
 
.verify-email-text22 {
  display: inline-block;
}
 
.verify-email-text23 {
  display: inline-block;
}
 
.verify-email-text24 {
  display: inline-block;
}
 
.verify-email-text25 {
  display: inline-block;
}
 
.verify-email-text26 {
  display: inline-block;
}
 
.verify-email-text27 {
  display: inline-block;
}
 
.verify-email-text28 {
  display: inline-block;
}
 
.verify-email-text29 {
  display: inline-block;
}
 
.verify-email-text30 {
  display: inline-block;
}
 
.verify-email-text31 {
  display: inline-block;
}
 
.verify-email-text32 {
  display: inline-block;
}
 
.verify-email-text33 {
  display: inline-block;
}
 
.verify-email-text34 {
  display: inline-block;
}
 
.verify-email-text35 {
  display: inline-block;
}
 
.verify-email-text36 {
  display: inline-block;
}
