.volunteer-sign-up-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.volunteer-sign-up-text10 {
  display: inline-block;
}
 
.volunteer-sign-up-text11 {
  display: inline-block;
}
 
.volunteer-sign-up-text12 {
  display: inline-block;
}
 
.volunteer-sign-up-text13 {
  display: inline-block;
}
 
.volunteer-sign-up-text14 {
  display: inline-block;
}
 
.volunteer-sign-up-text15 {
  display: inline-block;
}
 
.volunteer-sign-up-text16 {
  display: inline-block;
}
 
.volunteer-sign-up-text17 {
  display: inline-block;
}
 
.volunteer-sign-up-text18 {
  display: inline-block;
}
 
.volunteer-sign-up-text19 {
  display: inline-block;
}
 
.volunteer-sign-up-text20 {
  display: inline-block;
}
 
.volunteer-sign-up-text21 {
  display: inline-block;
}
 
.volunteer-sign-up-text22 {
  display: inline-block;
}
 
.volunteer-sign-up-text23 {
  display: inline-block;
}
 
.volunteer-sign-up-text24 {
  display: inline-block;
}
 
.volunteer-sign-up-text25 {
  display: inline-block;
}
 
.volunteer-sign-up-text26 {
  display: inline-block;
}
 
.volunteer-sign-up-text27 {
  display: inline-block;
}
 
.volunteer-sign-up-text28 {
  display: inline-block;
}
 
.volunteer-sign-up-text29 {
  display: inline-block;
}
 
.volunteer-sign-up-text30 {
  display: inline-block;
}
 
.volunteer-sign-up-text31 {
  display: inline-block;
}
 
.volunteer-sign-up-text32 {
  display: inline-block;
}
 
.volunteer-sign-up-text33 {
  display: inline-block;
}
 
.volunteer-sign-up-text34 {
  display: inline-block;
}
 
.volunteer-sign-up-text35 {
  display: inline-block;
}
 
.volunteer-sign-up-text36 {
  display: inline-block;
}
 
.volunteer-sign-up-text37 {
  display: inline-block;
}
