.applicantcard-card {
    color: var(--dl-color-theme-neutral-light);
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #4b32c1;
  }
   
  .applicantcard-text15 {
    text-align: center;
  }
   
  .applicantcard-text16 {
    text-align: center;
  }
   
  .applicantcard-actions {
    gap: var(--dl-space-space-unit);
    flex-wrap: wrap;
  }
   
  .applicantcard-button {
    flex: 1;
    text-decoration: none;
  }
   
  .applicantcard-action1 {
    text-align: center;
  }
   
  .applicantcard-text17 {
    display: inline-block;
  }
   
  .applicantcard-text18 {
    display: inline-block;
  }
   
  .applicantcard-text19 {
    display: inline-block;
  }
   
  .applicantcard-text20 {
    display: inline-block;
  }
   
  .applicantcard-text21 {
    display: inline-block;
  }
   
  .applicantcard-text22 {
    display: inline-block;
  }
   
  .applicantcard-text23 {
    display: inline-block;
  }
   
  .applicantcard-text24 {
    display: inline-block;
  }
   
  
   
  
   
  @media(max-width: 767px) {
    .applicantcard-card {
      width: 100%;
    }
  }
   
  @media(max-width: 479px) {
    .applicantcard-button {
      width: 100%;
    }
  }
  