.blog-post-header4-content1 {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #4b32c1;
}
 
.blog-post-header4-max-width {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.blog-post-header4-header {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.blog-post-header4-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.blog-post-header4-breadcrumbs1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
}
 
.blog-post-header4-breadcrumbs2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
}
 
.blog-post-header4-text17 {
  text-align: center;
}
 
.blog-post-header4-image {
  width: 100%;
  object-fit: cover;
}
 
.blog-post-header4-article {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.blog-post-header4-subtitle {
  text-align: center;
}
 
.blog-post-header4-article-body {
  text-align: left;
}
 
.blog-post-header4-button {
  align-self: flex-end;
}
 
.blog-post-header4-content3 {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
}
 
.blog-post-header4-avatar {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
}
 
.blog-post-header4-author-image {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
 
.blog-post-header4-content4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.blog-post-header4-full-name {
  font-weight: 600;
}
 
.blog-post-header4-time {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
}
 
.blog-post-header4-text21 {
  display: inline-block;
}
 
.blog-post-header4-text22 {
  display: inline-block;
}
 
.blog-post-header4-text23 {
  display: inline-block;
}
 
.blog-post-header4-text24 {
  display: inline-block;
}
 
.blog-post-header4-text25 {
  display: inline-block;
}
 
.blog-post-header4-text26 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .blog-post-header4-article {
    align-items: flex-start;
    padding-top: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
  }
  .blog-post-header4-subtitle {
    align-self: flex-start;
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .blog-post-header4-article-body {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .blog-post-header4-button {
    align-self: center;
  }
  .blog-post-header4-content3 {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
}
 
@media(max-width: 767px) {
  .blog-post-header4-max-width {
    gap: var(--dl-space-space-threeunits);
  }
  .blog-post-header4-text17 {
    text-align: center;
  }
}
 
@media(max-width: 479px) {
  .blog-post-header4-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .blog-post-header4-content2 {
    align-items: center;
  }
  .blog-post-header4-article {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .blog-post-header4-button {
    align-self: center;
  }
  .blog-post-header4-content3 {
    gap: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
}
