.call2a-home-in-container {
  width: 100%;
  height: 330px;
  display: flex;
  position: relative;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("/new%20project%20(1)-1500w.png");
  background-repeat: no-repeat;
  background-position: center;
}
 
.call2a-home-in-buttons {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.call2a-home-in-action11 {
  color: #4b32c1;
  display: flex;
  border-color: #000000;
  flex-direction: row;
  text-decoration: none;
  background-color: #ffffff;
}
 
.call2a-home-in-action12 {
  color: #4b32c1;
  display: flex;
  border-color: #000000;
  flex-direction: row;
  text-decoration: none;
  background-color: #ffffff;
}
 
.call2a-home-in-text3 {
  display: inline-block;
}
 
.call2a-home-in-text4 {
  display: inline-block;
}
 

