.jobrole-layout186 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: #002d7e;
}
 
.jobrole-text10 {
  z-index: 2;
  text-align: center;
}
 
.jobrole-text11 {
  z-index: 2;
  text-align: center;
}
 
.jobrole-text12 {
  z-index: 2;
  text-align: center;
}
 
.jobrole-text13 {
  z-index: 2;
  text-align: center;
}
 
.jobrole-text14 {
  z-index: 2;
  text-align: center;
}
 
.jobrole-text15 {
  z-index: 2;
  text-align: center;
}
 
.jobrole-actions {
  align-self: center;
}
 
.jobrole-text16 {
  display: inline-block;
}
 
.jobrole-text17 {
  display: inline-block;
}
 
.jobrole-text18 {
  display: inline-block;
}
 
.jobrole-text19 {
  display: inline-block;
}
 
.jobrole-text20 {
  display: inline-block;
}
 
.jobrole-text21 {
  display: inline-block;
}
 

 
@media(max-width: 479px) {
  .jobrole-actions {
    width: 100%;
    flex-wrap: wrap;
    margin-top: var(--dl-space-space-unit);
  }
  .jobrole-button {
    width: 100%;
  }
}
