.listingvolin-card {
  color: var(--dl-color-theme-neutral-light);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #002d7e;
}
 
.listingvolin-text15 {
  text-align: center;
}
 
.listingvolin-actions {
  gap: var(--dl-space-space-unit);
  flex-wrap: wrap;
}
 
.listingvolin-button {
  flex: 1;
}
 
.listingvolin-action1 {
  text-align: center;
}
 
.listingvolin-text16 {
  display: inline-block;
}
 
.listingvolin-text17 {
  display: inline-block;
}
 
.listingvolin-text18 {
  display: inline-block;
}
 
.listingvolin-text19 {
  display: inline-block;
}
 
.listingvolin-text20 {
  display: inline-block;
}
 
.listingvolin-text21 {
  display: inline-block;
}
 
.listingvolin-text22 {
  display: inline-block;
}
 

 
@media(max-width: 767px) {
  .listingvolin-card {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .listingvolin-button {
    width: 100%;
  }
}
