.listingcard-card {
  color: var(--dl-color-theme-neutral-light);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #002d7e;
}
 
.listingcard-text3 {
  text-align: center;
}
 
.listingcard-actions {
  gap: var(--dl-space-space-unit);
  flex-wrap: wrap;
}
 
.listingcard-button1 {
  flex: 1;
}
 
.listingcard-action11 {
  text-align: center;
}
 
.listingcard-button2 {
  flex: 1;
}
 
.listingcard-action12 {
  text-align: center;
}
 
.listingcard-text4 {
  display: inline-block;
}
 
.listingcard-text5 {
  display: inline-block;
}
 
.listingcard-text6 {
  display: inline-block;
}
 
.listingcard-text7 {
  display: inline-block;
}
 
.listingcard-text8 {
  display: inline-block;
}
 

 

 

 

 
@media(max-width: 767px) {
  .listingcard-card {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .listingcard-button1 {
    width: 100%;
  }
  .listingcard-button2 {
    width: 100%;
  }
}
