.results-layout349 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.results-max-width {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.results-container1 {
  gap: var(--dl-space-space-halfunit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 600px;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
 
.results-container2 {
  width: 100%;
}
 
.results-text10 {
  display: inline-block;
}
 
.results-text11 {
  display: inline-block;
}
 
.results-text12 {
  display: inline-block;
}
 
.results-text13 {
  display: inline-block;
}
 
.results-text14 {
  display: inline-block;
}
 
.results-text15 {
  display: inline-block;
}
 
.results-text16 {
  display: inline-block;
}
 
.results-text17 {
  display: inline-block;
}
 
.results-text18 {
  display: inline-block;
}
 
.results-text19 {
  display: inline-block;
}
 
.results-text20 {
  display: inline-block;
}
 
.results-text21 {
  display: inline-block;
}
 
.results-text22 {
  display: inline-block;
}
 
.results-text23 {
  display: inline-block;
}
 
.results-text24 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .results-max-width {
    flex-direction: column;
  }
  .results-container1 {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
 
@media(max-width: 767px) {
  .results-container1 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
