.sign-up-org-container1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.sign-up-org-max-width {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.sign-up-org-form-root {
  gap: var(--dl-space-space-unit);
  width: 60%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.sign-up-org-form1 {
  gap: var(--dl-space-space-twounits);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
 
.sign-up-org-title-root {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.sign-up-org-have-an-account-login1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
}
 
.sign-up-org-navlink1 {
  display: contents;
}
 
.sign-up-org-text11 {
  text-decoration: none;
}
 
.sign-up-org-form2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
 
.sign-up-org-organisationname {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up-org-textinput1 {
  width: 100%;
  border-color: #4b32c1;
  background-color: transparent;
}
 
.sign-up-org-industry {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up-org-textinput2 {
  width: 100%;
  border-color: #4b32c1;
  background-color: transparent;
}
 
.sign-up-org-email {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up-org-textinput3 {
  width: 100%;
  border-color: #4b32c1;
  background-color: transparent;
}
 
.sign-up-org-username {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up-org-textinput4 {
  width: 100%;
  border-color: #4b32c1;
  background-color: transparent;
}
 
.sign-up-org-password {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.sign-up-org-textfield {
  gap: 4px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up-org-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.sign-up-org-hide-password {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
 
.sign-up-org-icon1 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 24px;
  height: 24px;
}
 
.sign-up-org-textinput5 {
  width: 100%;
  border-color: #4b32c1;
  background-color: transparent;
}
 
.sign-up-org-pass-requirements {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
 
.sign-up-org-pass-conditions1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.sign-up-org-bulletpoint1 {
  gap: 8px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 8px 8px 8px 0;
  padding-right: 8px 8px 8px 0;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
 
.sign-up-org-container3 {
  flex: 0 0 auto;
  width: 6px;
  height: 6px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.sign-up-org-text18 {
  font-size: 14px;
}
 
.sign-up-org-bulletpoint2 {
  gap: 8px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 8px 8px 8px 0;
  padding-right: 8px 8px 8px 0;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
 
.sign-up-org-container4 {
  flex: 0 0 auto;
  width: 6px;
  height: 6px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.sign-up-org-text19 {
  font-size: 14px;
}
 
.sign-up-org-pass-conditions2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.sign-up-org-bulletpoint3 {
  gap: 8px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 8px 8px 8px 0;
  padding-right: 8px 8px 8px 0;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
 
.sign-up-org-container5 {
  flex: 0 0 auto;
  width: 6px;
  height: 6px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.sign-up-org-text20 {
  font-size: 14px;
}
 
.sign-up-org-bulletpoint4 {
  gap: 8px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 8px 8px 8px 0;
  padding-right: 8px 8px 8px 0;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
 
.sign-up-org-container6 {
  flex: 0 0 auto;
  width: 6px;
  height: 6px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.sign-up-org-text21 {
  font-size: 14px;
}
 
.sign-up-org-pass-conditions3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.sign-up-org-bulletpoint5 {
  gap: 8px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 8px 8px 8px 0;
  padding-right: 8px 8px 8px 0;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
 
.sign-up-org-container7 {
  flex: 0 0 auto;
  width: 6px;
  height: 6px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.sign-up-org-text22 {
  font-size: 14px;
}
 
.sign-up-org-city-county {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up-org-textinput6 {
  width: 100%;
  border-color: #4b32c1;
  background-color: transparent;
}
 
.sign-up-org-postcode {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up-org-textinput7 {
  width: 100%;
  border-color: #4b32c1;
  background-color: transparent;
}
 
.sign-up-org-address {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up-org-textinput8 {
  width: 100%;
  border-color: #4b32c1;
  background-color: transparent;
}
 
.sign-up-org-container8 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.sign-up-org-terms-agree {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
}
 
.sign-up-org-button {
  border-color: #000000;
  text-decoration: none;
  background-color: #4b32c1;
}
 
.sign-up-org-text28 {
  text-align: center;
}
 
.sign-up-org-have-an-account-login2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
}
 
.sign-up-org-navlink2 {
  display: contents;
}
 
.sign-up-org-text29 {
  text-decoration: none;
}
 
.sign-up-org-text30 {
  display: inline-block;
}
 
.sign-up-org-text31 {
  display: inline-block;
}
 
.sign-up-org-text32 {
  display: inline-block;
}
 

 
@media(max-width: 991px) {
  .sign-up-org-form-root {
    width: 100%;
    padding: var(--dl-space-space-fourunits);
  }
}
 
@media(max-width: 479px) {
  .sign-up-org-form-root {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .sign-up-org-pass-requirements {
    flex-direction: column;
  }
  .sign-up-org-button {
    width: 100%;
  }
}
