.sign-up-volunteer-container1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.sign-up-volunteer-max-width {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.sign-up-volunteer-form-root {
  gap: var(--dl-space-space-unit);
  width: 60%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.sign-up-volunteer-form1 {
  gap: var(--dl-space-space-twounits);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
 
.sign-up-volunteer-title-root {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.sign-up-volunteer-have-an-account-login1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
}
 
.sign-up-volunteer-navlink {
  display: contents;
}
 
.sign-up-volunteer-text11 {
  text-decoration: none;
}
 
.sign-up-volunteer-form2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
 
.sign-up-volunteer-first-name {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up-volunteer-textinput1 {
  width: 100%;
  border-color: #4b32c1;
  background-color: transparent;
}
 
.sign-up-volunteer-last-name {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up-volunteer-textinput2 {
  width: 100%;
  border-color: #4b32c1;
  background-color: transparent;
}
 
.sign-up-volunteer-email {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up-volunteer-textinput3 {
  width: 100%;
  border-color: #4b32c1;
  background-color: transparent;
}
 
.sign-up-volunteer-username {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up-volunteer-textinput4 {
  width: 100%;
  border-color: #4b32c1;
  background-color: transparent;
}
 
.sign-up-volunteer-password {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.sign-up-volunteer-textfield {
  gap: 4px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up-volunteer-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.sign-up-volunteer-hide-password {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
 
.sign-up-volunteer-icon1 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 24px;
  height: 24px;
}
 
.sign-up-volunteer-textinput5 {
  width: 100%;
  border-color: #4b32c1;
  background-color: transparent;
}
 
.sign-up-volunteer-pass-requirements {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
 
.sign-up-volunteer-pass-conditions1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.sign-up-volunteer-bulletpoint1 {
  gap: 8px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 8px 8px 8px 0;
  padding-right: 8px 8px 8px 0;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
 
.sign-up-volunteer-container3 {
  flex: 0 0 auto;
  width: 6px;
  height: 6px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.sign-up-volunteer-text18 {
  font-size: 14px;
}
 
.sign-up-volunteer-bulletpoint2 {
  gap: 8px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 8px 8px 8px 0;
  padding-right: 8px 8px 8px 0;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
 
.sign-up-volunteer-container4 {
  flex: 0 0 auto;
  width: 6px;
  height: 6px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.sign-up-volunteer-text19 {
  font-size: 14px;
}
 
.sign-up-volunteer-pass-conditions2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.sign-up-volunteer-bulletpoint3 {
  gap: 8px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 8px 8px 8px 0;
  padding-right: 8px 8px 8px 0;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
 
.sign-up-volunteer-container5 {
  flex: 0 0 auto;
  width: 6px;
  height: 6px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.sign-up-volunteer-text20 {
  font-size: 14px;
}
 
.sign-up-volunteer-bulletpoint4 {
  gap: 8px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 8px 8px 8px 0;
  padding-right: 8px 8px 8px 0;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
 
.sign-up-volunteer-container6 {
  flex: 0 0 auto;
  width: 6px;
  height: 6px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.sign-up-volunteer-text21 {
  font-size: 14px;
}
 
.sign-up-volunteer-pass-conditions3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.sign-up-volunteer-bulletpoint5 {
  gap: 8px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 8px 8px 8px 0;
  padding-right: 8px 8px 8px 0;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
 
.sign-up-volunteer-container7 {
  flex: 0 0 auto;
  width: 6px;
  height: 6px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.sign-up-volunteer-text22 {
  font-size: 14px;
}
 
.sign-up-volunteer-city-county {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up-volunteer-textinput6 {
  width: 100%;
  border-color: #4b32c1;
  background-color: transparent;
}
 
.sign-up-volunteer-experience {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up-volunteer-input1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.sign-up-volunteer-age-group {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up-volunteer-input2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.sign-up-volunteer-gender {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-up-volunteer-input3 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.sign-up-volunteer-container8 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
 
.sign-up-volunteer-terms-agree {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
}
 
.sign-up-volunteer-button {
  border-color: #000000;
  text-decoration: none;
  background-color: #4b32c1;
}
 
.sign-up-volunteer-text29 {
  text-align: center;
}
 
.sign-up-volunteer-have-an-account-login2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
}
 
.sign-up-volunteer-text31 {
  display: inline-block;
}
 
.sign-up-volunteer-text32 {
  display: inline-block;
}
 
.sign-up-volunteer-text33 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .sign-up-volunteer-form-root {
    width: 100%;
    padding: var(--dl-space-space-fourunits);
  }
  .sign-up-volunteer-input1 {
    gap: var(--dl-space-space-halfunit);
    width: 50%;
    flex-direction: column;
  }
  .sign-up-volunteer-input2 {
    gap: var(--dl-space-space-halfunit);
    width: 50%;
    flex-direction: column;
  }
  .sign-up-volunteer-input3 {
    gap: var(--dl-space-space-halfunit);
    width: 50%;
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .sign-up-volunteer-form-root {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .sign-up-volunteer-pass-requirements {
    flex-direction: column;
  }
  .sign-up-volunteer-button {
    width: 100%;
  }
}
